@page
@model AdminPanel
@{
    ViewData["Title"] = "AdminPanel";
}
@* <!-- @if (Model.Permissions == 1) {} --> *@
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link" id="nav-sportscenter-tab" data-bs-toggle="tab" data-bs-target="#nav-sportscenter" type="button" role="tab" aria-controls="nav-sportscenter" aria-selected="false">Sports Center</button>
        <button class="nav-link" id="nav-sportsobject-tab" data-bs-toggle="tab" data-bs-target="#nav-sportsobject" type="button" role="tab" aria-controls="nav-sportsobject" aria-selected="false">Sports Object</button>
        <button class="nav-link" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="false">Users</button>
        <button class="nav-link" id="nav-workers-tab" data-bs-toggle="tab" data-bs-target="#nav-workers" type="button" role="tab" aria-controls="nav-workers" aria-selected="false">AssignedWorkers</button>
        <button class="nav-link" id="nav-price-tab" data-bs-toggle="tab" data-bs-target="#nav-price" type="button" role="tab" aria-controls="nav-price" aria-selected="false">Pricing</button>
        <button class="nav-link" id="nav-promotions-tab" data-bs-toggle="tab" data-bs-target="#nav-promotions" type="button" role="tab" aria-controls="nav-promotions" aria-selected="false">Promotions</button>
        <button class="nav-link" id="nav-reservations-tab" data-bs-toggle="tab" data-bs-target="#nav-reservations" type="button" role="tab" aria-controls="nav-reservations" aria-selected="false">Reservations</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!--SPORTSCENTER-TAB------------------------------------------------------------------------------------------------->
    <div class="tab-pane fade" id="nav-sportscenter" role="tabpanel" aria-labelledby="nav-sportscenter-tab" tabindex="0">
        <!-- ADD NEW RECORD FORM -->
        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#addForm-Model.SportsCenterId">Add New Record</button>
        <div id="addForm-Model.SportsCenterId" class="collapse">
            <form method="post" asp-page-handler="Add">
                <div class="form-group">
                    <label>Nazwa Ośrodka:</label>
                    <input type="text" name="Name" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Ulica:</label>
                    <input type="text" name="Street" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Numer Ulicy:</label>
                    <input type="text" name="StreetNumber" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Miasto:</label>
                    <input type="text" name="City" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Wojewódzctwo:</label>
                    <input type="text" name="State" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Kod Pocztowy:</label>
                    <input type="text" name="ZipCode" value="" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>

        <br> 
        <!--LIST-VALUES-->
        @if (Model.SportsCenters != null && Model.SportsCenters.Count > 0)
        {
            @foreach (var center in Model.SportsCenters)
            {
                <tr>
                    <td>@center.SportsCenterId</td>
                    <td>@center.Name</td>
                    <td>@center.Street</td>
                    <td>@center.StreetNumber</td>
                    <td>@center.City</td>
                    <td>@center.State</td>
                    <td>@center.ZipCode</td>
                </tr>
                <!-- DELETE BUTTON -->
                <button type="button" class="btn btn-danger" data-mdb-ripple-init data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-@center.SportsCenterId">Delete</button>

                <!-- POPUP CONFIRM MENU -->
                <div class="modal fade" id="confirmDeleteModal-@center.SportsCenterId" tabindex="-1" aria-labelledby="confirmDeleteModalLabel-@center.SportsCenterId" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteModalLabel-@center.SportsCenterId">Confirm Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this item?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form method="post" id="deleteForm-@center.SportsCenterId" asp-page-handler="Delete" asp-route-id="@center.SportsCenterId" style="display:inline;">
                                    <button type="submit" id="confirmDeleteButton-@center.SportsCenterId" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--EDIT-BUTTON-->
                <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#editForm-@center.SportsCenterId">Edit</button>
                <!--POPUP-EDIT-FORM-->
                    <div id="editForm-@center.SportsCenterId" class="collapse">
                                <form method="post" asp-page-handler="Edit" asp-route-id="@center.SportsCenterId">
                                    <div class="form-group">
                                        <label>Nazwa Ośrodka:</label>
                                        <input type="text" name="Name" value="@center.Name" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Ulica:</label>
                                        <input type="text" name="Street" value="@center.Street" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Numer Ulicy:</label>
                                        <input type="text" name="StreetNumber" value="@center.StreetNumber" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Miasto:</label>
                                        <input type="text" name="City" value="@center.City" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Stan:</label>
                                        <input type="text" name="State" value="@center.State" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label>Kod Pocztowy:</label>
                                        <input type="text" name="ZipCode" value="@center.ZipCode" class="form-control" required />
                                    </div>

                                    <button type="submit" class="btn btn-primary-warning">Save Changes</button>
                                 </form>
                     </div>

                <br>
            }
        }
        else
        {
            <p>Brak danych o obiektach.</p>
        }
    </div>
    <!--SPORTSOBJECT/FACILITY-TAB---------------------------------------------------------------------------------------->
    <div class="tab-pane fade" id="nav-sportsobject" role="tabpanel" aria-labelledby="nav-sportsobject-tab" tabindex="0">

        <!-- ADD NEW RECORD FORM -->
        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#addForm-Model.FacilityId">Add New Record</button>
        <div id="addForm-Model.FacilityId" class="collapse">
                    <form method="post" asp-page-handler="AddF">
                        <div class="form-group">
                            <label>Nazwa Obiektu:</label>
                            <input type="text" name="FacilityName" value="" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="facilityType">Typ Obiektu:</label>
                            <select name="TypeName" id="facilityType" class="form-control" required>
                                <option value="">Wybierz typ obiektu</option>
                                @if (Model.FacilityTypes != null && Model.FacilityTypes.Count > 0)
                                {
                                    @foreach (var type in Model.FacilityTypes)
                                    {
                                        <option value="@type.TypeName">@type.TypeName</option>
                                    }
                                }
                            </select>
                </div>
                <div class="form-group">
                    <label for="centerName">Nazwa Ośrodka:</label>
                    <select name="Name" id="centerName" class="form-control" required>
                        <option value="">Wybierz ośrodek</option>
                        @if (Model.SportsCenters != null && Model.SportsCenters.Count > 0)
                        {
                            @foreach (var center in Model.SportsCenters)
                            {
                                <option value="@center.Name">@center.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Przebieralnia:</label>
                    <input class="form-check-input" type="checkbox" id="isChangingRoomAvailable" name="IsChangingRoom" value="true">
                </div>
                <div class="form-group">
                    <label for="isEquipmentAvailable">Pełne wyposażenie:</label>
                    <input class="form-check-input" type="checkbox" id="isEquipmentAvailable" name="IsEquipment" value="true">
                </div>
                <div class="form-group">
                    <label for="promoStart">Data rozpoczęcia promocji:</label>
                    <input type="date" id="promoStart" name="PromoStart" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="promoEnd">Data zakończenia promocji:</label>
                    <input type="date" id="promoEnd" name="PromoEnd" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="promoRate">Wartość promocji [%]:</label>
                    <input type="number" id="promoRate" name="PromoRate" class="form-control" required step="0.01" min="0" placeholder="Wprowadź wartość np. 25 dla 25%">
                </div>
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>


        <br>
        @if (Model.Facilities != null && Model.Facilities.Count > 0)
        {
            @foreach (var facility in Model.Facilities)
            {
                <tr>
                    <td>@facility.FacilityId</td>
                    <td>@facility.FacilityName</td>
                    <td>@facility.FacilityType.TypeName</td> 
                    <td>@facility.FacilitySportsCenter.Name</td>
                    <td>@facility.IsChangingRoom</td>
                    <td>@facility.IsEquipment</td>
                    <td>@facility.PromoStart</td>
                    <td>@facility.PromoEnd</td>
                    <td>@facility.PromoRate</td>
                
                <!-- DELETE BUTTON -->
                <button type="button" class="btn btn-danger" data-mdb-ripple-init data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-@facility.FacilityId">Delete</button>

                <!-- POPUP CONFIRM MENU -->
                <div class="modal fade" id="confirmDeleteModal-@facility.FacilityId" tabindex="-1" aria-labelledby="confirmDeleteModalLabel-@facility.FacilityId" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteModalLabel-@facility.FacilityId">Confirm Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this item?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form method="post" id="deleteForm-@facility.FacilityId" asp-page-handler="DeleteF" asp-route-id="@facility.FacilityId" style="display:inline;">
                                    <button type="submit" id="confirmDeleteButton-@facility.FacilityId" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#editForm-@facility.FacilityId">Edit</button>
                <div id="editForm-@facility.FacilityId" class="collapse">
                    <form method="post" asp-page-handler="EditF" asp-route-id="@facility.FacilityId">
                        <div class="form-group">
                            <label>Nazwa Obiektu:</label>
                            <input type="text" name="FacilityName" value="@facility.FacilityName" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="facilityType">Typ Obiektu:</label>
                                <select name="TypeName" id="facilityType" value="@facility.FacilityType.TypeName" class="form-control" required>
                                    @if (Model.FacilityTypes != null && Model.FacilityTypes.Count > 0)
                                    {
                                        @foreach (var type in Model.FacilityTypes)
                                        {
                                            <option value="@type.TypeName">@type.TypeName</option>
                                            <option value="@type.TypeName">@type.TypeName</option>
                                        }
                                    }
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="centerName">Nazwa Ośrodka:</label>
                            <select name="Name" id="centerName" value="@facility.FacilitySportsCenter.Name" class="form-control" required>
                                @if (Model.SportsCenters != null && Model.SportsCenters.Count > 0)
                                {
                                    @foreach (var center in Model.SportsCenters)
                                    {
                                        <option value="@center.Name">@center.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Przebieralnia:</label>
                            <input class="form-check-input" type="checkbox" id="isChangingRoomAvailable" name="IsChangingRoom" @(facility.IsChangingRoom ? "checked" : "")>
                        </div>
                        <div class="form-group">
                            <label for="isEquipmentAvailable">Pełne wyposażenie:</label>
                            <input class="form-check-input" type="checkbox" id="isEquipmentAvailable" name="IsEquipment" value="true" @(facility.IsEquipment ? "checked" : "")>
                        </div>
                        <div class="form-group">
                            <label for="promoStart">Data rozpoczęcia promocji:</label>
                            <input type="date" id="promoStart" name="PromoStart" class="form-control" value="@facility.PromoStart.ToString("yyyy-MM-dd")" required>
                        </div>
                        <div class="form-group">
                            <label for="promoEnd">Data zakończenia promocji:</label>
                            <input type="date" id="promoEnd" name="PromoEnd" class="form-control" value="@facility.PromoEnd.ToString("yyyy-MM-dd")" required>
                        </div>
                        <div class="form-group">
                            <label for="promoRate">Wartość promocji [%]:</label>
                            <input type="number" id="promoRate" name="PromoRate" value="@facility.PromoRate" class="form-control" required step="0.01" min="0" placeholder="Wprowadź wartość np. 25 dla 25%">
                        </div>
                        <button type="submit" class="btn btn-primary-warning">Save Changes</button>
                    </form>
                </div>
                    <br />
                </tr>
            }
        }
        else
        {
            <p>Brak danych o obiektach.</p>
        }
        

    </div>
    <!--USERS-TAB-------------------------------------------------------------------------------------------------------->
    <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-PassUsers-tab" tabindex="0">

        <!-- ADD NEW RECORD FORM -->
        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#addForm-Model.PassUserId">Add New Record</button>
        <div id="addForm-Model.PassUserId" class="collapse">
            <form method="post" asp-page-handler="AddUser">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" name="PassUserName" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>SurName:</label>
                    <input type="text" name="PassUserSurName" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <select name="PassUserGender" class="form-control" required>
                        <option value="77">Male</option>
                        <option value="70">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    <input type="text" name="PassUserPhone" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" name="PassUserEmail" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="text" name="PassUserPassword" value="" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
        <br>
        <!--LIST-VALUES-->
        @if (Model.Users != null && Model.Users.Count > 0)
        {
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.DeclaredGender</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>

                    <!-- DELETE BUTTON -->
                    <button type="button" class="btn btn-danger" data-mdb-ripple-init data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-@user.UserId">Delete</button>

                    <!-- POPUP CONFIRM MENU -->
                    <div class="modal fade" id="confirmDeleteModal-@user.UserId" tabindex="-1" aria-labelledby="confirmDeleteModalLabel-@user.UserId" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteModalLabel-@user.UserId">Confirm Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this item?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form method="post" id="deleteForm-@user.UserId" asp-page-handler="DeleteUser" asp-route-id="@user.UserId" style="display:inline;">
                                        <button type="submit" id="confirmDeleteButton-@user.UserId" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--EDIT BUTTON-->
                    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#editForm-@user.UserId">Edit</button>

                    <!--POPUP-EDIT-FORM-->
                    <div id="editForm-@user.UserId" class="collapse">
                        <form method="post" asp-page-handler="EditUser" asp-route-id="@user.UserId">
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" name="PassUserName" value="@user.Name" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>SurName:</label>
                                <input type="text" name="PassUserSurName" value="@user.Surname" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Gender:</label>
                                <select name="PassUserGender" class="form-control" required>
                                    <option value="77">Male</option>
                                    <option value="70">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Phone:</label>
                                <input type="text" name="PassUserPhone" value="@user.PhoneNumber" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" name="PassUserEmail" value="@user.Email" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Password:</label>
                                <input type="text" name="PassUserPassword" value="@user.Password" class="form-control" required />
                            </div>

                            <button type="submit" class="btn btn-primary-warning">Save Changes</button>
                        </form>
                    </div>

                    <br>
                </tr>
            }
        }
        else
        {
            <p>Brak danych o użytkownikach.</p>
        }
    </div>
    <!---------------------------------------------------------------------------------------------------->
    <div class="tab-pane fade" id="nav-workers" role="tabpanel" aria-labelledby="nav-workers-tab" tabindex="0">

        <!--ADD NEW RECORD FORM-->
        <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#addForm-Model.WorkerId">Add New Record</button>
        <div id="addForm-Model.WorkerId" class="collapse">
            <form method="post" asp-page-handler="AddWorker">
                <div class="form-group">
                    <label>Function Type:</label>
                    <select name="workerFunction" class="form-control" required>
                        @* <option value="">Select worker AssignedAssignedWorkerFunction</option> *@
                        @if (Model.WorkerFunctions != null && Model.WorkerFunctions.Count > 0)
                        {
                            @foreach (var func in Model.WorkerFunctions)
                            {
                                <option value="@func.WorkerFunctionId">@func.WorkerFunctionName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" name="workerName" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>SurName:</label>
                    <input type="text" name="workerSurName" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <select name="workerGender" class="form-control" required>
                        <option value="77">Male</option>
                        <option value="70">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    <input type="text" name="workerPhone" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" name="workerEmail" value="" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="text" name="workerPassword" value="" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
        <br>

        <!--LIST VALUES-->
        @if (Model.Workers != null && Model.Workers.Count > 0)
        {
            @foreach (var worker in Model.Workers)
            {
                <tr>
                    <td>@worker.WorkerId</td>
                    <td>@worker.AssignedWorkerFunction.WorkerFunctionName</td> 
                    <td>@worker.Name</td>
                    <td>@worker.Surname</td>
                    <td>@worker.DeclaredGender</td>
                    <td>@worker.PhoneNumber</td>
                    <td>@worker.Email</td>
                    <td>@worker.Password</td>

                    <!-- DELETE BUTTON -->
                    <button type="button" class="btn btn-danger" data-mdb-ripple-init data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-@worker.WorkerId">Delete</button>

                    <!-- POPUP CONFIRM MENU -->
                    <div class="modal fade" id="confirmDeleteModal-@worker.WorkerId" tabindex="-1" aria-labelledby="confirmDeleteModalLabel-@worker.WorkerId" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteModalLabel-@worker.WorkerId">Confirm Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this item?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form method="post" id="deleteForm-@worker.WorkerId" asp-page-handler="DeleteAssignedWorker" asp-route-id="@worker.WorkerId" style="display:inline;">
                                        <button type="submit" id="confirmDeleteButton-@worker.WorkerId" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--EDIT BUTTON-->
                    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#editForm-@worker.WorkerId">Edit</button>

                    <!--POPUP-EDIT-FORM-->
                    <div id="editForm-@worker.WorkerId" class="collapse">
                        <form method="post" asp-page-handler="EditWorker" asp-route-id="@worker.WorkerId">
                            <div class="form-group">
                                <label>Function Type:</label>
                                <select name="workerFunction" class="form-control" required>
                                    @* <option value="">Select worker AssignedAssignedWorkerFunction</option> *@
                                    @if (Model.WorkerFunctions != null && Model.WorkerFunctions.Count > 0)
                                    {
                                        @foreach (var func in Model.WorkerFunctions)
                                        {
                                            <option value="@func.WorkerFunctionId">@func.WorkerFunctionName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" name="workerName" value="@worker.Name" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>SurName:</label>
                                <input type="text" name="workerSurName" value="@worker.Surname" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Gender:</label>
                                <select name="workerGender" class="form-control" required>
                                    <option value="77">Male</option>
                                    <option value="70">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Phone:</label>
                                <input type="text" name="workerPhone" value="@worker.PhoneNumber" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" name="workerEmail" value="@worker.Email" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Password:</label>
                                <input type="text" name="workerPassword" value="@worker.Password" class="form-control" required />
                            </div>

                            <button type="submit" class="btn btn-primary-warning">Save Changes</button>
                        </form>
                    </div>

                    <br>
                </tr>
            }
        }
        else
        {
            <p>Brak danych o pracownikach.</p>
        }
    </div>
    <!---------------------------------------------------------------------------------------------------->
    <div class="tab-pane fade" id="nav-price" role="tabpanel" aria-labelledby="nav-price-tab" tabindex="0">
        Nie ma takiej tabeli w BD
    </div>
    <!---------------------------------------------------------------------------------------------------->
    <div class="tab-pane fade" id="nav-promotions" role="tabpanel" aria-labelledby="nav-promotions-tab" tabindex="0">
        @if (Model.Facilities != null && Model.Facilities.Count > 0)
        {
            @foreach (var facility in Model.Facilities)
            {
                <tr>
                    <td>@facility.FacilityId</td>
                    <!--exception nullreference-->
                    @* <td>@ReservationFacility.FacilityType.TypeName</td> *@
                    <td>@facility.PromoStart</td>
                    <td>@facility.PromoEnd</td>
                    <td>@facility.PromoRate</td>
                    <button type="button" class="btn btn-danger" data-mdb-ripple-init>Delete</button>
                    <button type="button" class="btn btn-warning" data-mdb-ripple-init>Edit</button>
                    <br>
                </tr>
            }
        }
        else
        {
            <p>Brak danych o promocjach.</p>
        }
    </div>
    <!---------------------------------------------------------------------------------------------------->
    <div class="tab-pane fade" id="nav-reservations" role="tabpanel" aria-labelledby="nav-reservations-tab" tabindex="0">
        @if (Model.Reservations != null && Model.Reservations.Count > 0)
        {
            @foreach (var res in Model.Reservations)
            {
                <tr>
                    <td>@res.ReservationId</td>
                    <td>@res.ReservationFacility.FacilityId</td>
                    <td>@res.ReservationUser.UserId</td>
                    <td>@res.ReservationDate</td>
                    <td>@res.CurrentReservationStatus</td>
                    <button type="button" class="btn btn-danger" data-mdb-ripple-init>Delete</button>
                    <button type="button" class="btn btn-warning" data-mdb-ripple-init>Edit</button>
                    <br>
                </tr>
            }
        }
        else
        {
            <p>Brak danych o rezerwacjach.</p>
        }
    </div>
    <!---------------------------------------------------------------------------------------------------->
</div>